VITE_SUPABASE_URL=https://ievryzyusznpgfbpsput.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlldnJ5enl1c3pucGdmYnBzcHV0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIxNDM4NzIsImV4cCI6MjA4NzcxOTg3Mn0.mHaHyxrlRJ050U2tCBWFXKQk_KiXJC-V8i4jdIWZqmM
